# Salin file ini menjadi .env untuk menjalankan backend secara lokal (tanpa Docker)
PORT=4000
MONGODB_URI=mongodb://localhost:27017/kamus_bugis
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=kamus-images
# SEED_FILE=../data/kamus.words-v2.json
